body{
   margin: 0;
   padding: 0;
   height: 100vh;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.container{
   font-size: 6px;
   width: 40em;
   height: 40em;
   position: relative;
}

img{
   height: 130%;
   width: 130%;
}

.sun{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 15em;
   left: 15em;
   height: 10em;
   width: 10em;
   border-radius: 50%;
   box-shadow: 0 0 3em rgb(255, 128, 0);
   animation: orbit 50s linear infinite;
}

.mercury , .venus , .earth , .moon , .mars ,.jupiter , .saturn , .uranus , .neptune {
   position: absolute;
   border: radius 50%;
}

.mercury{
   top: 12.5em;
   left: 12.5em;
   width: 15em;
   height: 15em;
   animation: orbit 50s linear infinite ;
}

.venus{
   top: 10em;
   left: 10em;
   width: 20em;
   height: 20em;
   animation: orbit 50s linear infinite ;
}

.earth{
   top: 6em;
   left: 6em;
   width: 28em;
   height: 28em;
   animation: orbit 50s linear infinite ;
}

.moon{
   top: 6em;
   left: 6em;
   width: 28em;
   height: 28em;
   animation: orbit 50s linear infinite ;
}

.star{
   position: absolute;
   background-color: white;
   border-radius: 50%;
   z-index: -1;
}