*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: aqua;
}

.clock{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#date{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    text-shadow: 2px 2px 20px aqua;
}

#time{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-shadow: 2px 2px 20px aqua;
}