body {
    /* background-color: black;
    color: white; */
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home{
    /* padding: 10px; */
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding: 14px;
    font-weight: bold;
}

.heading{
    
}