* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.border {
    border: 2px solid red;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
}

.invert{
    filter: invert(1);
}

.invert1{
    filter: invert(0.9);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}